.contacts-container{
	height: 400px;
	overflow: scroll;
	margin-top: 20px;
}

.done_button{
	padding: 10px 20px;
	background: #000;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contacts_title{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.message_text{
	width: 100%;
	margin-top: 20px;
}

.message_button{
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	background: #000;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	color: #fff;
	line-height: 15;
}

.circle_center{
	text-align: center;
}